.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &-form {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    /* Match height and activity boxes */
    height: 9.25rem;
    transition: all 0.5s, transform 1ms;

    &__hidden {
      transform: translateY(-30rem);
      height: 0;
      padding: 0 2.25rem;
      margin-bottom: 0;
      opacity: 0;
    }

    &__row {
      display: flex;
      align-items: center;

      &--hidden {
        display: none;
      }
    }

    &__label {
      flex: 0 0 50%;
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__input {
      width: 100%;
      padding: 0.3rem 1.1rem;
      font-family: inherit;
      font-size: 1.4rem;
      border: none;
      border-radius: 3px;
      background-color: var(--color-light--3);
      transition: all 0.2s;

      &:focus {
        outline: none;
        background-color: #fff;
      }
    }

    &__btn {
      display: none;
    }
  }
}

.workouts::-webkit-scrollbar {
  width: 0;
}
